@tailwind base;
@tailwind components;
@tailwind utilities;

.font-capitalize {
  font-family: "Capital-letters" !important;
}

.font-small {
  font-family: "Jost";
}

body{
  font-family: "Jost";
}
@font-face {
  font-family: "Capital-letters"; /* Replace with your font's name */
  src: url("./assets/fonts/Itim-Regular.ttf") format("truetype"); /* Adjust file path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./assets/fonts/Jost-VariableFont_wght.ttf") format("truetype"); /* Adjust file path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost-italic";
  src: url("./assets/fonts/Jost-Italic-VariableFont_wght.ttf")
    format("truetype"); /* Adjust file path and format */
  font-weight: normal;
  font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.ql-container {
  height: 63vh !important;
}
.ql-editor {
  background-color: white;
}

.product-detail-page-section .ant-rate-star-full .anticon-star svg,
.product-detail-page-section
  .ant-rate-star-active
  .ant-rate-star-first
  .anticon-star
  svg {
  fill: rgba(255, 0, 0, 0.623) !important;
}

.ant-ribbon-placement-end {
  padding: 5px;
}
.ant-ribbon-placement-end .ant-ribbon-text {
  font-weight: 700;
  cursor: pointer;
}
textarea {
  resize: none;
}
.nav-bar-utilities .px-5:nth-child(1),.nav-bar-utilities .px-5:nth-child(2){
  border-right: 1px solid #333;
}
.nav-bar-utilities{
  border-top: 0.5px solid #ccc
}
.bg-center-top{
  background-position: center top !important;
}
.bg-no-repeats{
  background-repeat: no-repeat !important;
}
.ant-tabs-nav-wrap{
  border-bottom: 0.5px solid #e1e1e1;
}
.border-1-616060{
  border: 1px solid #ccc
}
.rating-box{
  border-top-right-radius: 10px;
  position: relative;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: -0.6px;
  z-index: 9;
}
/* .rating-box:after{
  content: '';
    width: 6px;
    height: 6px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -1px;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 5px;
    right: -4px;
}

.rating-box:after {
  border-right: 0;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  right: -4px;
} */
.ant-ribbon {
  inset-inline-end: calc(8px * -1);
  border-end-end-radius: 0;
  margin: 0;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  list-style: none;
  white-space: nowrap;
  border-radius: 4px 4px 0 4px;
}
.ant-ribbon-corner{
  position: absolute;
  top: 100%;
  right: 0;
  width: 8px;
  height: 8px;
  color: red;
  border: calc(8px / 2) solid;
  transform: scaleY(0.75);
  transform-origin: top;
  filter: brightness(75%);
}
.ant-ribbon-corner{
  inset-inline-end: 0;
    border-inline-end-color: transparent;
    border-block-end-color: transparent;
}
@media screen and (max-width: 1300px) {
  .icons-row .instagram-svg,
  .icons-row .facebook-svg,
  .icons-row .amazon-svg,
  .icons-row .pinterest-svg {
    width: 25px;
    height: 25px;
  }
}

.product-detail-page .slick-arrow {
  color: black !important;
  opacity: 0.9 !important;
  width: 21px !important;
  height: 20px !important;
}
.product-detail-page .slick-arrow::after,
.product-detail-page .slick-arrow::before {
  width: 15.315417px !important;
  height: 15.315417px !important;
  border: 1px solid black !important;
  border-inline-width: 3px 0 !important;
  border-block-width: 3px 0 !important;
}
@media screen and (max-width: 931px) {
  .icons-row .instagram-svg,
  .icons-row .facebook-svg,
  .icons-row .amazon-svg {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 650px) {
  .mobile-view-nav .menu-toggle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(-8px);
    transition: 0.5s;
  }
  .mobile-view-nav .menu-toggle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
  }
  .mobile-view-nav .menu-toggle.menu-open::before {
    transform: translateY(0px) rotate(45deg);
  }
  .mobile-view-nav .menu-toggle.menu-open::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #33333300;
  }
  .mob-nav::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: 24px;
    background-color: #333;
    transform: translateY(-8px);
    transition: 0.5s;
  }
  .mob-nav::after {
    content: "";
    position: absolute;
    top:24px;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
  }
  .mob-nav.menu-open::before {
    transform: translateY(0px) rotate(45deg);
  }
  .mob-nav.menu-open::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #33333300;
  }
  .menu-list.menu-close {
    transform: translateX(-250px);
    transition: 0.5s;
  }
  .menu-list.menu-open {
    transform: translateX(0);
    transition: 0.5s;
  }
}
@media screen and (max-width: 425px) {
  .footer .ant-collapse-header-text {
    font-size: 18px;
    font-weight: 600;
  }
  .ant-collapse-expand-icon {
    height: 29px !important;
  }
  .mobile-view .instagram-svg,
  .mobile-view .facebook-svg,
  .mobile-view .amazon-svg {
    width: 25px;
    height: 25px;
  }
}
.ant-tabs-tab-btn{
  font-weight: 500;
  font-size: 20px;
}
.ant-tabs-tab{
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.active_navigate{
  color: #46AED1 !important;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
}

@media screen and (max-width:600px) {
  .ant-tabs-tab-btn{
    font-size: unset !important;
  }
  .ant-tabs-tab{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  :where(.css-dev-only-do-not-override-m4timi).ant-tabs .ant-tabs-tab+.ant-tabs-tab{
    margin-left: 16px !important;
  } 
  .ant-tabs-tab-btn{
    font-weight: unset !important;
  }
}

.level-slider .ant-slider-handle, .level-slider .ant-slider-mark{
  display: none;
}

.level-slider .ant-slider-dot-active{
  top: -13px;
  width: 30px !important;
  height: 30px !important;
  border-width: 6px !important;
}

.level-slider .ant-slider-dot{
  top: -13px;
  width: 30px !important;
  height: 30px !important;
}

.show-modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 99999999;
  opacity: 1;
  outline: none;
  pointer-events: auto;
  transition: opacity .2s;
}

.hide-modal{
  position: unset !important;
}

.navigation-bar .ant-popover-inner{
  background-color: #46AED1;
}

.accordion{
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  outline: none;
  transition: 0.4s;
  text-align: left;
  background-color: #fff0;
}

.accordion-active div.accordion{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid #FFA585;
  border-bottom: 1px solid #fff0;
}

.accordion.active {
  border-bottom: 1px solid #FFA585;
  background-color: #cccccc00 !important;
  color: #46AED1 !important;
}

.accordion-non-active .accordion{
  border-radius: 16px;
  border: 1px solid #FFA585;
  color: #46AED1
}

.accordion-active .panel {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: 100% !important;
  border-left: 1px solid #FFA585;
  border-right: 1px solid #FFA585;
  border-bottom: 1px solid #FFA585;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-non-active svg{
  transform: rotate(180deg);
  transition: .5s transform ease-in-out;
}
.accordion-non-active svg{
  transform: rotate(-180deg);
}

.cart-section .cart-product-section{
  border-bottom: 2px solid #ffffff54;
  margin-top: 15px;
  padding-bottom: 15px;
}
.cart-section .cart-product-section:nth-child(1){
  margin-top: 0;
}
.cart-section .cart-product-section:nth-last-child(1){
  border-bottom: 0px solid transparent;
  padding-bottom: 0;
}

.slick-arrow.slick-next,.slick-arrow.slick-prev{
  color: #000 !important;
  opacity: 1 !important;
}
.slick-arrow.slick-next::after,
.slick-arrow.slick-prev::after{
  width: 16px !important;
  height: 16px !important;
}